.button {
  display: inline-block;
  padding: 1em 1.618em;
  border: none;

  text-align: center;
  text-decoration: none;

  color: var(--color-button-fg);
  background-color: var(--color-button-bg);
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  font: inherit;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  color: var(--color-highlight-fg);
  background-color: var(--color-highlight-bg);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
