.letter {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  min-width: 1em;
  padding: 1px;
}

.focusedLetter {
  composes: letter;
  background-color: var(--color-highlight-bg);
  color: var(--color-highlight-fg);
}

.letter + .letter {
  margin-inline-start: 1px;
}

.letterInput {
  width: 1em;
  padding: 0.25em;
  margin: 0;

  text-align: center;
  text-transform: uppercase;
  font-size: 1em;

  color: var(--color-letter-fg);
  background-color: var(--color-letter-bg);

  border: 0;
  border-radius: 0;
}

.letterInput:read-only {
  color: inherit;
  background: none;
}

.letterLabel {
  text-transform: uppercase;
}

.letterCount {
  font-size: 0.75em;
}
