.letter {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1em;
  padding: 1px;
}

.focusedLetter {
  composes: letter;
  background: var(--color-highlight-bg);
}

.letter + .letter {
  margin-inline-start: 1px;
}

.letterInput {
  width: 1em;
  text-align: center;
  text-transform: uppercase;
}

.letterInput:read-only {
  background: none;
  border: 0;
}

.letterLabel {
  text-transform: uppercase;
}

.letterCount {
  font-size: .75em;
}
