:root {
  --color-page-bg: #fff;

  --color-highlight-bg: #90fde9;
  --color-highlight-fg: #000;

  --color-word-bg: #b8cdce;
  --color-word-fg: #000;

  --color-letter-bg: #f1fffb;
  --color-letter-fg: #222;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif
}