.controls {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
  column-gap: 1em;
  row-gap: .5em;

  position: sticky;
  top: 0;
  left: 0;

  background: var(--color-page-bg);
}

.controls > time {
  margin: auto 0 auto auto;
}

.quote {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 0.5em;
}
